
header {
    background-color: #0e4271;
    padding: 16px;
}
#hddsb {
    padding: 15px;
    padding-right: 650px;
}
.hbutton {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-family: Roboto,sans-serif;
}