
header {
    background-color: #0e4271;
    padding: 16px;
    white-space: nowrap;
}
#main {
    padding: 0 6%;
}
#iwantto {
    background-color: #08243e;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
    padding-left: 30px;
}
#hddsb {
    padding: 15px;
    padding-right: 465px;
}
.hbutton {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-family: Roboto,sans-serif;
}
.mainheader {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: white;
    padding-right: 100%
}
.mainbutton {
    text-decoration: none;
    color: black;
    padding: 30px;
    text-transform: uppercase;
    font-family: Poppins,sans-serif;
}
.mainbutton:hover {
    border-bottom: 4px solid #0056a2;
}
#banner {
    top: 100px;
}
#mainheader-text {
    font-family: Poppins,sans-serif;
    color: black;
    font-weight: bold;
    padding-left: 30px;
    padding-right: 20px;
}
#guidance {
    border-bottom: 4px solid #0056a2;
}
.welcome {
    color: white;
    position: absolute;
    top: 325px;
    left: 395px;
    font-family: Poppins, sans-serif;
}
#guidanceword {
    padding: 10px;
    border-left: 7px solid #0056a2;
    font-family: Poppins,sans-serif;
    font-weight: bold;
}
p {
    font-size: 17px;
    padding: 15px;
    font-family: Roboto,sans-serif;
}
li {
    font-size: 17px;
    padding: 15px;
    padding-left: 27px;
    font-family: Roboto,sans-serif;
}
h2 {
    font-family: Poppins,sans-serif;
    margin: 20px 0 15px;
    font-size: 1.471em;
    padding-left: 15px;
}
h3 {
    font-family: Poppins,sans-serif;
    margin: 20px 0 15px;
    font-size: 1.25em;
    padding-left: 20px;
}
.link {
    color: #0056a2;
    font-weight: 700;
    text-decoration: none;
}